

@using (Html.BeginForm("TimKiem", "SANPHAMs"))
{
    @Html.AntiForgeryToken()
    @*<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        
    </div>*@
    <div class="search">      
        <input type="text" class="searchTerm" name="tenSP" placeholder="Tìm kiếm sản phẩm" aria-describedby="btnNavbarSearch">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </div>
}

