@model WebShopBanGame.Models.KHACHHANG

<table class="table">
    <tr>
        <td class="text-right">Số dư hiện có:</td>
        <td>@Html.DisplayFor(m => m.SoDu)</td>
    </tr>
</table>
@*@string.Format("{0:0,00} VND", Html.DisplayFor(m => m.SoDu))*@