
@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 style="padding: 40px 0px">Thông tin khách hàng</h2>
<div style="padding:20px">
    <a href="@Url.Action("Index","HOADONs", new { id = Session["MaKH"]})">Lịch sử mua hàng</a>
</div>

